body {
height: 100vh;
	background: linear-gradient(
		to left,
		#e7af36 0%,
		#e7af36 20%,
		#c13815 100%
	);
}

.margin {
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}

.zoom {
	zoom: 1.2;
}

h2{
	background-color: #e0e0e0;
	color: #f94848;
}

p{
	background-color: #e0e0e0;
	color: #f94848;
}

h4{
	background-color: #e0e0e0;
	color: #f94848;
}